.mobile-career {
    /* padding-left: 5%;
    padding-top: 5%; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c53b97;
    background: linear-gradient(90deg, #491696 3.07%, #4A1699 6.85%, #54137E 35.59%, #610844 99.28%);
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}
.mobile-career-dark {
    /* padding-left: 5%;
    padding-top: 5%; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c53b97;
    background: linear-gradient(90deg, #491696 3.07%, #4A1699 6.85%, #54137E 35.59%, #610844 99.28%);
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}
.mobile-career-active {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    height: calc(100% - 0px);
    overflow-y: auto;
    width: 100%;
    z-index: 99999999;
    background: linear-gradient(90deg, #491696 3.07%, #4A1699 6.85%, #54137E 35.59%, #610844 99.28%);
}
.mobile-career-active-dark {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    height: calc(100% - 0px);
    overflow-y: auto;
    width: 100%;
    z-index: 99999999;
    background-color: #E4D6EE;
    background: linear-gradient(90deg, #eecbf0 3.07%, #eeccef 6.85%, #e8b2e9 35.59%, #f1cfe6 99.28%);
}
.mobile-career-head {
    margin-top:10px;
    margin-left: -75px;
    /* align-items: center; */
    display: flex;
    gap: 70px;
}


.cross-mobile {
    margin-left: 25%;
    margin-top: 50px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.cross-mobile-dark {
    margin-left: 25%;
    margin-top: 50px;
    font-size: 30px;
    color: #c53b97;
    cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
    .mobile-career-head {
        margin-left: 20px;
        /* align-items: center; */
        display: flex;
        gap: 70px;
    }

    .career-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin: 5% 0 0 34%;
    }

}

@media screen and (max-width: 799px) {

    .career-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin: 10% 0 0 22%;
    }
}
