.main{
    display: flex;
    margin: 0px 5%;;
    justify-content: space-between;
}

.main-right{
    width: 700px;
}
.main-left-light{
    padding-top: 120px;
    height: 600px;
    display: flex;
    flex-direction: column;
    color:#820A5B;
    gap: 25px;
}
.main-left-dark{
    padding-top: 120px;
    height: 600px;
    display: flex;
    flex-direction: column;
    color:white;
    gap: 25px;
}
.span-hello{
    font-size: 50px;
    font-weight: 400;
}
.span-name{
    font-size: 55px;
    font-weight: 700;
}
.span-description{
    width: 650px;
    font-size: 20px;
    line-height: 55px;
}
.social-links-dark, .social-links-light{
    display: flex;
    gap: 40px;
}

.social-links-light .social-link{
    border-radius: 50%;
    background-color: #820A5B;
}

@media screen and (min-width: 1024px){
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .main {
            flex-direction: column-reverse;
            margin: 0px 5%;
        }
    
        .main-right {
            width: 80%;
            margin: 25px 0px 0px 50px;
        }
    
        .main-left-light,
        .main-left-dark {
            padding-top: 30px;
            align-items: center;
        }
    
        .span-hello {
            font-size: 25px;
        }
    
        .span-name {
            font-size: 29px;
        }
    
        .span-description {
            font-size: 17px;
            font-weight: 400;
            line-height: 36px;
            justify-content: center;
        }
}
@media screen and (max-width: 767px) {
    .main{
        flex-direction: column-reverse;
        
    }
    .main-right{
        width: 90%;
        margin: 25px 20px 0px 20px;
    }
    .main-left-light, .main-left-dark{
        padding-top: 30px;
        align-items: center;
    }
    .span-hello{
        font-size: 25px;
    }
    .span-name{
        font-size: 29px;
    }
    .span-description{
        width: 400px;
        font-size: 17px;
        font-weight: 400;
        line-height: 36px;
        justify-content: center;
    }
}

