.jobs {
    background: #A85FCB;
    opacity: 0.8;
    border-radius: 30px;
    border: 0.5px solid #FFF;
    width: 285px;
    height: 360px;
    color: #FFF;
    
}

.jobs-logo {
    height: 120px;
    width: 120px;
    margin: 20px 0 0 33%;
}

.jobs-logo-in {
    background: white;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    align-items: center;
}

.jobs-logo-svg {
    width: 50px;
    margin: 25px 0 0 25%;
}

.jobs-heading {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 0 42%;
    
}

.year {
    margin: 25px 0 0 42%;
}

.jobs-text{
    margin: 35px 0 0 0;
    text-align: center;
    font-weight: 500;
}
