.experience-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: -40%;
}

.one{
    grid-column: 2 / 3;
    margin-left: 0;
    
}