.navbar-active{
    background: linear-gradient(90deg, #491696 3.07%, #4A1699 6.85%, #54137E 35.59%, #610844 83.28%, #70083B 98.49%);
}

.dark-bg{
    background-image: url('./assets/background-attached.png');
    background-size: cover;
    height: fit-content;
    width: fit-content;
    min-width: 100vw;
    min-height: 200vh;
}
.light-bg{
    background-image: url('./assets/total-bg-light.svg');
    background-size: cover;
    height: fit-content;
    width: fit-content;
    min-width: 100vw;
    min-height: 200vh;
}
.blur{
    position: relative;
}
.blur::before{
    content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 767px) {
    #carrer-app{
        display: none;
    }
}

@media screen and (min-width: 1920px) {
   .app{
        width: 100px;
   }
}






